body {
    margin: 0;
    background: black;
    overflow: hidden;
  }
  


  #screenshotFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    display: none;
    z-index: 10;
    pointer-events: none;
  }
  
  #preview {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding: 16px;
    border-radius: 10px;
    z-index: 999;
    text-align: center;
  }
  
  #preview img {
    max-width: 300px;
    border-radius: 6px;
  }
  
  #downloadBtn {
    margin-top: 10px;
    background: #00aaff;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
  }
  